// $heading-size: 18px;
// $medium: 16px;
// $normal: 14px;
// $small: 12px;
// $smaller: 10px;
// $x-smaller: 8px;

// $white-color: #FFFFFF;
// $span-color: #265781;
// $secondary-color: #333333;
// $subheading-color: #706960;
// $btn-fcolor: #F12B20;
// $btn-scolor: #EB0F5B;
// $card-back: #FFFFFF;
/* $back-color-green: #52B27B;
$back-color-yellow: #F2E162;
$back-popup-black: rgb(0,0,0);
$back-popup-grey: rgba(0,0,0,0.4); */
/* $sub-btn-color: #393939;
$btn-shadow: #f2e162b3; */


$Primary-color:#F12B20;
$secondary-color:#333333;
$white-color:#ffffff;
$red-color:#F12D22;
$dark-red-color:#ff0000;
$deep-red-color:#EB1D26;
$green-color:#3CB950;
$light-green-color:#63D094;
$deep-blue-color:#1A9AF7;
$blue-color:#1b9ff3;
$medium-blue-color:#DAE6FE;
$light-blue-color:#F1FAFF;
$lightest-blue-color:#F9FBFC;
$light-gray-color:#f5f5f5;
$deep-gray-color:#707070;
$dark-gray-color:#1A1A1A;
$gray-color:#E6EBF1;


// font-family
$primary-font:'proxima_nova';
$fonts-path:"../fonts";

$btn-background:linear-gradient(to bottom right, #EB0F5B, #F12B20);




